 .content__project-page {
     display: flex;
     flex-direction: column;
     height: auto;
     padding-bottom: 50px;
 }

 .project-page__title {
     text-align: center;

 }

 .project-page__titles {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
 }


 .page__title-cards {
     width: 30%;
     height: 250px;
     margin-top: 20px;
     display: flex;
     flex-direction: column;
 }

 .title__cards-image {
     width: 100%;
     height: 200px;
     object-fit:fill;
 }

 .page__title-project {
    flex: 1;
    display: flex;
    text-align: center;
    background-color:#5c5b5b;
    
 }

 .title__project-text{
    flex: 1;
    margin: 0 auto;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: all 1s;
}

.title__project-text:hover{
    font-size: 1.3rem;
    cursor: pointer;
}


/*  .title__cards-image:hover {
    transform: scale(1.3,1.3);
 } */